<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssm.edge.core.exceptionHandling">
  <insert id="insertErrorMessage" parameterType="com.ssm.edge.core.exceptionHandling.vo.ExceptionHandlingVO">
      INSERT INTO CORE_EXCEPTION_HANDLING_MASTER (
             USER_ID
            ,ERROR_CODE
            ,ERROR_MSG
            ,USER_COMMENT
	        ,USE_YN
	        ,CREATE_DATE
	        ,CREATE_USER
      ) VALUES (
      		 #{userId}
	        ,#{errorCode}
	        ,#{errorMsg}
			,#{userComment}
	        ,1
			,NOW()
	        ,#{userId}
      )
  </insert>
</mapper>