<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssm.edge.turck.admin.locationManagement">
    <select id="selectLocationMasterList" parameterType="com.ssm.edge.turck.admin.locationManagement.vo.LocationMasterVO" resultType="com.ssm.edge.turck.admin.locationManagement.vo.LocationMasterVO">
        SELECT (ROW_NUMBER() OVER (ORDER BY create_date DESC)) AS rowNum
             , location_no AS locationNo
             , location_code AS locationCode
             , location_name AS locationName
             , factory_code AS factoryCode
             , use_yn AS useYn
             , create_date AS createDate
             , create_user AS createUser
             , update_date AS updateDate
             , update_user AS updateUser
          FROM turck_admin_location_master
         WHERE 1=1
        <if test="@com.ssm.edge.core.util.EmptyCheck@notEmpty(locationName)">
            AND location_name LIKE CONCAT('%', #{locationName}, '%')
        </if>
        ORDER BY create_date DESC
    </select>

    <select id="selectLocationMasterMaxCount" resultType="int">
        SELECT (COUNT(*) + 1) AS maxCount
        FROM turck_admin_location_master
    </select>

    <insert id="insertLocationMasterInfo" parameterType="com.ssm.edge.turck.admin.locationManagement.vo.LocationMasterVO">
        INSERT INTO turck_admin_location_master(
            location_no
          , location_code
          , location_name
          , factory_code
          , use_yn
          , create_date
          , create_user)
        VALUES (
            #{locationNo}
          , #{locationCode}
          , #{locationName}
          , #{factoryCode}
          , #{useYn}
          , NOW()
          , #{createUser})
    </insert>

    <update id="updateLocationMasterInfo" parameterType="com.ssm.edge.turck.admin.locationManagement.vo.LocationMasterVO">
        UPDATE turck_admin_location_master
           SET location_name = #{locationName}
             , update_date = NOW()
             , update_user = #{updateUser}
         WHERE location_code = #{locationCode}
    </update>

    <delete id="deleteLocationMasterInfo" parameterType="com.ssm.edge.turck.admin.locationManagement.vo.LocationMasterVO">
        DELETE FROM turck_admin_location_master
        WHERE location_code = #{locationCode}
    </delete>
</mapper>